body {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #000;
  color: #fff;
}

.toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
}

.toggleSwitch {
  display: none;
}

.switchLabel {
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;
  padding: 0;
  border: 2px solid #ccc;
  border-radius: 34px;
  box-sizing: border-box;
  background-color: #fff;
  transition: background-color 0.2s;
}

.switchLabel:after {
  content: '';
  display: block;
  width: 26px;
  height: 26px;
  margin: 4px;
  background: #ccc;
  border-radius: 50%;
  transition: margin 0.2s, background-color 0.2s;
}

.switchLabel:hover {
  cursor: pointer;
}

.toggleSwitch:checked + .switchLabel {
  background-color: #4CAF50;
}

.toggleSwitch:checked + .switchLabel:after {
  margin-left: 30px;
  background-color: #fff;
}

#quote-box {
  margin-top: 50px;
  text-align: center;
}

#quote-container {
  padding: 10px;
  margin: 0 auto;
  max-width: 600px;
}

#quote-text {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}


.btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color;
}
